<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminProduct.css">
</head>
<body> 
    <main>
        <div class="header">
            Admin Dashboard
        </div>
        <p >Update <%=categary.name%> Categary</p>
        <form action="/admin/categary/update/<%=categary.name%>" method="post">
            <input type="text" name="name" id="" placeholder="Categary Name" value="<%=categary.name%>">
            <input type="text" name="imagePath" id="" placeholder="Image URL" value="<%=categary.imagePath%>">
            <input type="text" name="delete" placeholder="Eneter <%=categary.name%> to delete Categary">
            <input type="submit" value="Update">
        </form>
        <div class="addProduct" id="<%=categary.name%>">Add product</div>

        <p class="product" >Update <%=categary.name%> Categary products</p>

        <div class="itemBar bar">
            <%product.forEach(function(val){%>
               <% if(val.categary==categary.name){%>
                    <div class="barItem item" id="<%=val._id%>">
                        <div class="image image1">
                            <img src="<%=val.imagePath%>" alt="Image">
                        </div>
                        <div class="itemName"><%=val.name%></div>
                        <div class="quantity"><%=val.quantity%></div>
                        <div class="price">
                         
                            <div class="realPrice">₹<%=val.price%>/-</div>
                        </div>
                        
                       
                        <div class="addToCart">Edit</div>
                </div>
                <%}%>
            <%})%>
            
        </div> 

        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/product.png" alt="">
                <p>Products</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/user.png" alt="">
                <p>User Details</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/order.png" alt="">
                <p>Orders</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/revenue.png" alt="">
                <p>Revenue</p>
            </div>
            <div class="footerBox more">
                <img src="/images/adminMore.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/adminNav.js"></script>
    <script src="/javaScripts/adminCategaryUpdate.js"></script>
    
</body>
</html>