<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/adminProduct.css">
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<body> 
    <main>
        <div class="header">
            Admin Dashboard
        </div>
        <p class="text">Categary</p>
        <div class="categary">
            <%categary.forEach(function(val){%>
                <div class="categaryBox" id="<%=val.name%>">
                    <img src="<%=val.imagePath%>" alt="" id="<%=val.name%>">
                    <p id="<%=val.name%>"><%=val.name%> </p>
                </div>
            <%})%>
            
        </div>
        <div class="new">Add New Categary</div>

        <div class="fakeFooter"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="https://cdn-icons-png.flaticon.com/128/11744/11744074.png" alt="">
                <p>Products</p>
            </div>
            <div class="footerBox seller">
                <img src="https://cdn-icons-png.flaticon.com/128/4616/4616095.png" alt="">
                <p>User Details</p>
            </div>
            <div class="footerBox center cart">
                <img src="https://cdn-icons-png.flaticon.com/128/9752/9752284.png" alt="">
                <p>Orders</p>

            </div>
            <div class="footerBox milk">
                <img src="https://cdn-icons-png.flaticon.com/128/9058/9058574.png" alt="">
                <p>Milk Details</p>
            </div>
            <div class="footerBox more">
                <img src="https://cdn-icons-png.flaticon.com/128/5996/5996260.png" alt="">
                <%if(permission.length!=0 && permission){%>
                    <div class="circle"><%=permission.length%></div>
                <%}%>
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/adminNav.js"></script>
    <script src="/javaScripts/adminProduct.js"></script>
    
</body>
</html>