<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminUserView.css">
</head>
<body> 
    <main>
        <div class="header">
            <div class="input">
                <img src="/images/search.png" alt="">
               <% try{%>
                    <h2><%=user.length%> <%=user[0].type%>
                <%}catch(e){%>
                    
                </h2>
                <%}%>
            </div>
            <!-- <img src="/images/sync.png" alt=""> -->
        </div>
       <div class="box">
        <%user.forEach(function(val){%>
            <div class="user">
                <div class="image">
                    <img src="/images/<%=val.profilePicture%>" alt="a">
                </div>
                <div class="detail">
                    <div class="name"><%=val.username%></div>
                   <% if(val.address){%>
                    <div class="address"><%=val.address%></div>
                   <% }else{%>
                    <div class="address">Addres not Available</div>
                    <%}%>
                </div>
                <div class="view">View</div>
            </div>
        <%})%>
        
       </div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/product.png" alt="">
                <p>Products</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/user.png" alt="">
                <p>User Details</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/order.png" alt="">
                <p>Orders</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/revenue.png" alt="">
                <p>Revenue</p>
            </div>
            <div class="footerBox more">
                <img src="/images/adminMore.png" alt="">
                <p>More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/adminNav.js"></script>
    <script src="/javaScripts/adminUser.js"></script>
    
</body>
</html>