<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js" integrity="sha384-mkQ3/7FUtcGyoppY6bz/PORYoGqOl7/aSUMn2ymDOJcapfS6PHqxhRTMh1RR0Q6+" crossorigin="anonymous"></script>
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
    <style>
        /* Fullscreen Loader */
        #loader {
            position: fixed;
            width: 100%;
            height: 100%;
            background: white;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 9999;
        }

        /* Loader Animation */
        .spinner {
            width: 50px;
            height: 50px;
            border: 5px solid #ddd;
            border-top: 5px solid blue;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
    </style>
</head>
<body>
    <main>
        <div class="header">
            <div class="input" id="<%=user.email%>">
                <img src="https://cdn-icons-png.flaticon.com/128/5636/5636698.png" alt="">
            </div>
            <img src="https://cdn-icons-png.flaticon.com/128/9592/9592257.png" alt="">
        </div>

        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>

   

        <div class="notice">
            <!-- <h1>Leadboard</h1>
            <div class="winner">
                <div class="position">1</div>
                <h3>Hariom Modi</h3>
            </div>
            <div class="winner">
                <div class="position">2</div>
                <h3>Hariom Modi</h3>

            </div>
            <div class="winner">
                <div class="position">3</div>
                <h3>Hariom Modi</h3>

            </div> -->
        </div>
        <h1 class="top">Top Selling items</h1>
       
        <div class="topItem bar">
            <%product.forEach(function(val){%>
                <% if(val.categary=="DairyMilk"){%>
                    <div class="barItem item" id="<%=val._id%>">
                        <div class="image image1">
                            <img src="<%=val.imagePath%>" alt="Image">
                        </div>
                        <div class="itemName"><%=val.name%></div>
                        <div class="off"><%=val.quantity%></div>

                        <div class="price">
                         
                            <div class="realPrice">₹<%=val.price%>/-</div>
                        </div>
                        
                       
                        <div class="addToCart">View</div>
                </div>
            <%}%>
            <%})%>
        </div>
        <p class="text">Categary</p>
        <div class="categary">
            <%categary.forEach(function(val){%>
                <div class="categaryBox" id="<%=val.name%>">
                    <img src="<%=val.imagePath%>" alt="" id="<%=val.name%>">
                    <p id="<%=val.name%>"><%=val.name%></p>
                </div>
            <%})%>
            
        </div>
        <h1>Milk Products</h1> 
        <div class="milkItem bar">
            <%product.forEach(function(val){%>
               <% if(val.categary=="Dairy"){%>
                    <div class="barItem item" id="<%=val._id%>">
                        <div class="image image1">
                            <img src="<%=val.imagePath%>" alt="Image">
                        </div>
                        <div class="itemName"><%=val.name%></div>
                        <div class="off"><%=val.quantity%></div>
                        <div class="price">
                         
                            <div class="realPrice">₹<%=val.price%>/-</div>
                        </div>
                        
                       
                        <div class="addToCart">View</div>
                </div>
                <%}%>
            <%})%>
            
        </div> 

        
        
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <pid="home" >Home</p>
            </div>
            <div class="footerBox seller" id="order">
                <img src="https://cdn-icons-png.flaticon.com/128/11458/11458660.png" id="order" alt="">
                <p id="order">Order</p>
            </div>
            <div class="footerBox center cart" id="cart">
                <img src="https://cdn-icons-gif.flaticon.com/6416/6416376.gif" id="cart" alt="">
                <p id="cart">Cart</p>

            </div>
            <div class="footerBox feed" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/869/869118.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox more" id="more">
                <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" id="more" alt="">
                <p id="more">More</p>
            </div>
        </div>
        <%if(user.username=="Hariom Milk User"){%>
            <div class="detail">
                <form action="/detail" method="post">
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="tel" name="mobileNumber" id="" placeholder="Mobile number" required>
                    <input type="submit" value="Submit">
                </form>
            </div> 
        <%}%>
        
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/home.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body>
</html>
