<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/more.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
<link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
<style>
    /* Fullscreen Loader */
    #loader {
        position: fixed;
        width: 100%;
        height: 100%;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    /* Loader Animation */
    .spinner {
        width: 50px;
        height: 50px;
        border: 5px solid #ddd;
        border-top: 5px solid blue;
        border-radius: 50%;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>
</head>
<body>
    <main>
        <!-- Loader -->
    <div id="loader">
        <div class="spinner"></div>
    </div>

        <div class="header">
            <div class="headerProfile">
                <div class="profilePicture">
                    <%if(user.type=="farmer"){%>
                        <img class="prime" src="https://cdn-icons-png.flaticon.com/128/294/294432.png" alt="">
                    <%}%>
                    <%if(user.profilePicture){%>
                        <img class="image" src="<%=user.profilePicture%>" alt="">
                    <%}else{%>
                    <img class="image" src="https://cdn-icons-png.flaticon.com/128/149/149071.png" alt="">
                    <%}%>
                </div>
                <div class="profileDetail">
                    <div class="name"><%=user.username%></div>
                    <div class="email"><%=user.email%></div>
                    <div class="mobileNumber"><%=user.mobileNumber%></div>
                </div>
            </div>
            <div class="offer">
                
            </div>
        </div>
        <div class="header2">
            <div class="box order">
                <img src="https://cdn-icons-png.flaticon.com/128/10130/10130571.png" alt="">
                <%if(user.type=="farmer"){%>
                    <p>Seller Dashboard</p>
                <%}else{%>
                    <p>Seller Signup</p>
                <%}%>
            </div>
            <div class="box support">
                <img src="https://cdn-icons-png.flaticon.com/128/10439/10439810.png" alt="">
                <p>Support</p>
            </div>
            <div class="box subscription">
                <img src="https://cdn-icons-png.flaticon.com/128/5024/5024752.png" alt="">
                <p>Subscription</p>
            </div>
        </div>
        <div class="address">
            <div class="addressText">Delivery Address :</div>
                <div class="userAddress"><%=user.address%></div>
        </div>
        <div class="optionBox profile">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/3135/3135715.png" alt="">
            </div>
            <div class="option">
                <p>My Profile</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox wallet">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/4388/4388935.png" alt="">
            </div>
            <div class="option">
                <p>Feed</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        
        <div class="optionBox refer">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/3380/3380945.png" alt="">
            </div>
            <div class="option ">
                <p>Refer & Earn</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox transaction">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/9080/9080379.png" alt="">
            </div>
            <div class="option">
                <p>Transaction</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox mySubscription" style="display: none;">
            <div class="icon">
            </div>
            <div class="option">
                <p>My Subscription</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        
        <div class="optionBox">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/5602/5602631.png" alt="">
            </div>
            <div class="option">
                <p>FAQs</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox delivery">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/9541/9541276.png" alt="">
            </div>
            <div class="option">
                <p>I am Delivery Boy</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/4252/4252354.png" alt="">
            </div>
            <div class="option">
                <p>Policies</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
        </div>
        <div class="optionBox">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/4400/4400828.png" alt="">
            </div>
            <div class="option logout">
                <p>Logout</p>
                <i class="ri-arrow-right-s-line"></i>
            </div>
            
        </div>
        <%if(user.email=="scmodi9@gmail.com"){%>

        <div class="optionBox">
            <div class="icon">
                <img src="https://cdn-icons-png.flaticon.com/128/4400/4400828.png" alt="">
            </div>
                <a  style="text-decoration: none;color:black" class="option" href="/admin/product">
                    <p>Admin Dashboard</p>
                    <i class="ri-arrow-right-s-line"></i>
                </a>
        </div>
        <%}%>
        
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <pid="home" >Home</p>
            </div>
            <div class="footerBox seller" id="order">
                <img src="https://cdn-icons-png.flaticon.com/128/11458/11458660.png" id="order" alt="">
                <p id="order">Order</p>
            </div>
            <div class="footerBox center cart" id="cart">
                <img src="https://cdn-icons-gif.flaticon.com/6416/6416376.gif" id="cart" alt="">
                <p id="cart">Cart</p>

            </div>
            <div class="footerBox feed" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/869/869118.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox more" id="more">
                <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" id="more" alt="">
                <p id="more">More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/more.js"></script>
    <script src="/javaScripts/loader.js"></script>
</body>
</html>
