<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hariom Milk</title>
    <link rel="stylesheet" href="/stylesheets/adminUserView.css">
    <link rel="manifest" href="/manifest.json">
<meta name="theme-color" content="#317EFB">
</head>
<body> 
    <main>
        <div class="header">
            <div class="input">
               <h1>Order To Pick-Up</h1>
               
            </div>
            <!-- <img src="/images/sync.png" alt=""> -->
        </div>
       <div class="box">
        <%order.forEach(function(val,index){%>
            <%if(index==0){%>
                <div class="user" id="<%=user[index][0]._id%>">
                    <div class="detail">
                            <div class="name"><%=user[index][0].username%></div>
                       <% if(user[index][0].address){%>
                        <div class="address"><%=user[index][0].address%></div>
                       <% }else{%>
                        <div class="address">Addres not Available</div>
                        <%}%>
                    </div>
                    <div class="view">View</div>
                </div>
           <% }else if(user[index][0].email != user[index-1][0].email){%>

            <div class="user" id="<%=user[index][0]._id%>">
                <div class="detail">
                        <div class="name"><%=user[index][0].username%></div>
                   <% if(user[index][0].address){%>
                    <div class="address"><%=user[index][0].address%></div>
                   <% }else{%>
                    <div class="address">Addres not Available</div>
                    <%}%>
                </div>
                <div class="view">View</div>
            </div>
            <%}%>

        <%})%>
        
       </div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home" id="home">
                <img src="https://cdn-icons-png.flaticon.com/128/263/263115.png" id="home" alt="">
                <pid="home" >Home</p>
            </div>
            <div class="footerBox seller" id="order">
                <img src="https://cdn-icons-png.flaticon.com/128/11458/11458660.png" id="order" alt="">
                <p id="order">Order</p>
            </div>
            <div class="footerBox center cart" id="cart">
                <img src="https://cdn-icons-gif.flaticon.com/6416/6416376.gif" id="cart" alt="">
                <p id="cart">Cart</p>

            </div>
            <div class="footerBox feed" id="wallet">
                <img src="https://cdn-icons-png.flaticon.com/128/869/869118.png" id="wallet" alt="">
                <p id="wallet">Wallet</p>
            </div>
            <div class="footerBox more" id="more">
                <img src="https://cdn-icons-png.flaticon.com/128/9091/9091427.png" id="more" alt="">
                <p id="more">More</p>
            </div>
        </div>
    </main>
    <script src="/javaScripts/nearOrder.js"></script>
    <script src="/javaScripts/nav.js"></script>
    
</body>
</html>