<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/productView.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css"
    rel="stylesheet"
/>
</head> 
<body> 
    <main>
        <div class="header">
            <p></p>
            <i class="ri-share-line"></i>
        </div>
        <div class="image">
            <img src="<%=product.imagePath%>" alt="">
        </div>
        <div class="imageBottom">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
        <div class="detail">
            <div class="name1"><%=product.name%></div>
            <div class="quantity1"><%=product.quantity%></div>
            <div class="price1">₹<%=product.price%>/-</div>
        </div>
        <div class="discriptionButton">Discription<i class="ri-arrow-right-s-line" id="arrow"></i></div>
        <div class="discription">
            <p><%=product.discription%></p>
        </div>
        <p class="relatedItem">Related items</p>
        <div class="bar">
           <% products.forEach(function(val){%>
            <%if(val.categary==product.categary){%>
                <div class="item" id="<%=val._id%>">
                    <div class="itemImage">
                        <img src="<%=val.imagePath%>" alt="">
                    </div>
                    <div class="name"><%=val.name%></div>
                    <div class="off"><%=val.quantity%></div>
                    <div class="price">₹<%=val.price%>/-</div>
                </div>
            <%}%>
                
            <%})%>
            
        </div>
        <div class="fakeFooter"></div>
        <div class="fakeFooter"></div>
        <div class="footer">
            <div class="footerBox home">
                <img src="/images/home.png" alt="">
                <p>Home</p>
            </div>
            <div class="footerBox seller">
                <img src="/images/seller.png" alt="">
                <p>Seller</p>
            </div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>

            </div>
            <div class="footerBox feed">
                <img src="/images/food.png" alt="">
                <p>Feed</p>
            </div>
            <div class="footerBox more">
                <img src="/images/more.png" alt="">
                <p>More</p>
            </div>
        </div>
        <div class="button">
            <div class="buy" id="<%=product._id%>">Buy</div>
            <div class="footerBox center cart">
                <img src="/images/cart.gif" alt="">
                <p>Cart</p>
            </div>
            <div class="addToCart">Add To Cart</div>
        </div>
    </main>
    <script src="/javaScripts/nav.js"></script>
    <script src="/javaScripts/productView.js"></script>
    
</body>
</html>